[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
[submodule "salt/roots/formulas/xorg-formula"]
	path = salt/roots/formulas/xorg-formula
	url = https://github.com/extra2000/xorg-formula.git
[submodule "salt/roots/salt/projects/files/stereo-vision"]
	path = salt/roots/salt/projects/files/stereo-vision
	url = https://github.com/extra2000/stereo-vision.git
